<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

	<!-- Variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables

  INSERT YOUR APPLICATION NAME HERE (e.g. if making the amrManager, set the value to amrManager.
  Then all your logs will end up under
  CommonApplicationData/Guidance Automation/AMRManager/Logs
  -->
	<variable name="applicationName" value="Fleet Management Dev Tools" />
	<variable name="baseLayout" value="${longdate} ${uppercase:${level}} ${threadname} ${threadid} ${message}" />
	<variable name="baseDir" value="${specialfolder:folder=CommonApplicationData}/Guidance Automation/Logs/${var:applicationName}" />
	<variable name="baseArchivesDir" value="${specialfolder:folder=CommonApplicationData}/Guidance Automation/Archived Logs/${var:applicationName}" />
   <!-- Targets
   IF YOU NEED TO CREATE A NEW TARGET, PLEASE ADD IT TO THE NUGET PACKAGE:
   See https://github.com/nlog/NLog/wiki/Targets for possible targets.
   See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
   -->
	<targets>
		<!-- Used to write application specific events -->
		<target name="applicationFile"
			xsi:type="File"
			fileName="${var:baseDir}/application.log"
			archiveFileName="${var:baseArchivesDir}/application{##}.log"
			archiveNumbering="Rolling"
			archiveAboveSize="10000000"
			maxArchiveFiles="3"
			layout="${var:baseLayout}" />
		<!-- Used to globally catch all errors -->
		<target name="errorLog"
			xsi:type="File"
			fileName="${var:baseDir}/error.log"
			archiveFileName="${var:baseArchivesDir}/error{##}.log"
			archiveNumbering="Rolling"
			archiveAboveSize="10000000"
			maxArchiveFiles="3"
			layout="${var:baseLayout}" />
	</targets>
	<rules>
		<!-- Note there is now no logger called 'Application', anything using
			 Logger logger = LogManager.GetLogger("Application");
			 will end up logging to both the default loggers, the error log (all ERROR and above here) 
			 and the application log (everything INFO and higher) -->
		<!-- This is the catch all error log. EVERTHING will get written here, 
		     so don't set this any level lower than error or you will take down the system quickly trying to write to this -->
		<logger name="*" minlevel="Error" writeTo="errorLog" />
		<!-- This is the catch all application log. EVERTHING will get written here, 
		     so don't set this any level lower than info or you will take down the system quickly trying to write to this -->
		<logger name="*" minlevel="Info" writeTo="applicationFile" />
	</rules>
</nlog>